*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

body{

background:#050505;
color:white;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
overflow-x:hidden;

}

/* SCANLINES */

.scanlines{

position:fixed;
width:100%;
height:100%;
background: repeating-linear-gradient(
0deg,
rgba(255,255,255,0.03),
rgba(255,255,255,0.03) 1px,
transparent 1px,
transparent 4px
);

pointer-events:none;
z-index:1;

}

/* RED SIDE GLOW */

.side-glow{

position:fixed;
top:0;
width:300px;
height:100%;

background:radial-gradient(circle,
rgba(255,0,0,0.45),
transparent 70%);

filter:blur(120px);
z-index:-1;

}

.left{
left:-120px;
}

.right{
right:-120px;
}

/* MAIN CONTAINER */

.container{

width:90%;
max-width:420px;
text-align:center;
animation:fadeUp 1.5s ease;

}

/* TITLE */

.title{

font-size:50px;
font-weight:900;

letter-spacing:4px;

transform:skew(-8deg);

text-shadow:

0 0 10px red,
0 0 30px red,
0 0 60px red;

}

.subtitle{

margin-top:5px;
font-size:26px;

text-shadow:
0 0 10px red,
0 0 25px red;

}

/* GLITCH */

.glitch{

animation:glitch 3s infinite;

}

@keyframes glitch{

0%{transform:translate(0)}
20%{transform:translate(-2px,2px)}
40%{transform:translate(2px,-2px)}
60%{transform:translate(-2px,0)}
80%{transform:translate(2px,2px)}
100%{transform:translate(0)}

}

/* PROFILE CARD */

.profile-card{

margin-top:35px;
margin-bottom:35px;

padding:25px;

border-radius:14px;

background:rgba(255,0,0,0.05);

border:1px solid rgba(255,0,0,0.25);

backdrop-filter:blur(10px);

box-shadow:
0 0 25px rgba(255,0,0,0.2);

}

.avatar{

width:80px;
height:80px;

border-radius:50%;

margin:auto;
margin-bottom:12px;

background:radial-gradient(circle, red, black);

box-shadow:
0 0 20px red;

}

.tag{

opacity:0.7;
font-size:13px;

}

/* BUTTONS */

.links{

display:flex;
flex-direction:column;
gap:14px;

}

.btn{

display:flex;
align-items:center;
justify-content:center;

gap:12px;

text-decoration:none;
color:white;

padding:15px;

border-radius:12px;

background:rgba(255,0,0,0.08);

border:1px solid rgba(255,0,0,0.35);

position:relative;

overflow:hidden;

transition:0.35s;

}

.btn img{
width:22px;
}

/* BUTTON LIGHT SWEEP */

.btn::before{

content:"";

position:absolute;

width:120px;
height:100%;

background:linear-gradient(
90deg,
transparent,
rgba(255,255,255,0.4),
transparent
);

top:0;
left:-120px;

transition:0.6s;

}

.btn:hover::before{
left:120%;
}

.btn:hover{

transform:scale(1.07);

background:rgba(255,0,0,0.25);

box-shadow:
0 0 15px red,
0 0 35px red;

}

/* FADE */

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* MOBILE */

@media(max-width:600px){

.title{
font-size:34px;
}

.subtitle{
font-size:20px;
}

}
